body {
    background-color: rgb(8, 92, 156);
    margin: 0;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.header {
    background-color: rgb(0, 69, 125);
    margin-left: 29px;
    margin-right: 29px;
    border-radius: 20px;
}

@keyframes huvudtext {
    0% {
        color: rgb(0, 69, 125);
        left: 0px;
        top: 0px;
    }
    30% {
        color: rgb(0, 69, 125);
        left: 0px;
        top: 0px;
    }
    60% {
        color: rgb(0, 0, 0);
        left: 0px;
        top: 0px;
    }
    100% {
        color: rgb(255, 255, 255);
        left: 0px;
        top: 0px;
    }
}

.headertext {
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
    position: relative;
    animation-name: huvudtext;
    animation-duration: 4s;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    font-size: 40px;
}

.navbar {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
    margin-top: 10px;
    color: white;
    font-size: 25px;
}

.watchList {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow-y: auto;
}

.watchList.open {
    width: 20%;
}

.watchList .closeWatchListBtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    background-color: black;
    border: none;
    color: #ffffff;
}

.openWatchListBtn {
    background-color: rgb(0, 69, 125);
    border: none;
    height: 40px;
    width: 100px;

    color: #ffffff;
    font-size: large;
    margin-left: 29px;
    border-radius: 20px;
}

.watchListMoviesContainer {
    color: white;
    overflow-y: auto;
    height: 80%;
    padding: 10px;
}

#logoWatchList {
    color: white;
    font-size: 40px;
    display: flex;
    justify-content: center;
    padding: 30px;
}

.addMovieToWatchlistBtn {
    background-color: rgb(8, 92, 156);
    height: 40px;
    border: none;
    border-radius: 20px;
    display: flex;
    color: white;
    align-items: center;
    width: 100%;
    justify-content: center;
    transition: all 0.3s;
}

.removeMovieToWatchlistBtn {
    background-color: rgb(255, 255, 255);
    height: 40px;
    border: none;
    border-radius: 20px;
    display: flex;
    color: rgb(0, 0, 0);
    align-items: center;
    width: 100%;
    justify-content: center;
    transition: all 0.3s;
}

.addMovieToWatchlistBtn:hover,
.removeMovieToWatchlistBtn:hover {
    transform: scale(110%);
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

#searchField {
    width: 85%;
    height: 40px;
    border-radius: 20px;
}

#selectOption {
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

#searchButton {
    height: 40px;
    border-radius: 20px;
    background-color: black;
    color: white;
}
.hide {
    display: none;
}

.searchedMovieResult {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    ); /* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
    gap: 20px;
    background: rgb(0, 69, 125);
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
    margin-left: 29px;
    margin-right: 29px;
    border-radius: 20px;
}

.searchedPersonResult {
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    ); /* https://developer.mozilla.org/en-US/docs/Web/CSS/grid-template-columns */
    gap: 20px;
    background: rgb(0, 69, 125);
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
    margin-left: 29px;
    margin-right: 29px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.textStyleForPersonCard {
    font-size: 60px;
}

.personCardDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#topTenMovieLists {
    transition: 0.5s;
}

.movieLists {
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
    font-size: 20px;
    margin-left: 29px;
    margin-right: 29px;
    border-radius: 20px;
}

.top-trending-list,
.top-rated-list {
    display: flex;
    background: rgb(0, 69, 125);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 20px;
    overflow: auto;
    white-space: nowrap;
}

.card-title {
    display: flex;
    font-size: 14px;
    margin-bottom: 5px;
}

.movieCardDiv {
    margin: 10px;
}

.plotText {
    visibility: hidden;
    /* display:none;  funkar inte, fråga varför*/
    white-space: pre-wrap;
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: visibility 0s, opacity 0.5s ease, max-height 0.5s ease;
}

.movieCardDiv:hover .plotText {
    visibility: visible;
    /* display: block; funkar inte, fråga varför */
    opacity: 1;
    max-height: 100px;
}

.movieCardDiv:hover {
    transform: scale(103%);
    transition: 0.5s;
}

.findUsMap {
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}

footer {
    height: 200px;
    background-color: black;
    font-size: 30px;
    display: flex;
    flex-flow: column;
    text-align: center;
    padding-top: 15px;
}

a:link {
    color: #ffffff;
    text-decoration: none;
}

aside a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    background-color: rgb(8, 92, 156);
    transform: scale(110%);
    transition: 0.5s;
    text-decoration: none;
    padding: 7px;
}

a:active {
    box-shadow: 3px 3px 3px rgb(8, 92, 156);
    text-decoration: none;
}

a:focus {
    background: rgb(8, 92, 156);
    text-decoration: none;
}

a:visited {
    color: #ffffff;
    text-decoration: none;
}
